.main_container{
height: 600px;
width: 800px;
display: flex;
align-items: center;
margin-top: 400px;
margin-left: 280px;
border: 1px solid #E5E5E5;
padding: 60px;
}

.window{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all_pages_container{
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.arrow{
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.main_container img{
    
    width: 200px;
}

.slider_content{
    margin-left: -100px;
    margin-top: -150px;
    text-align: center;
   justify-content: center;
}

.slider_content p{
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.651);
}